Package: colorscreen
Version: 2.0alpha
Section: graphics
Priority: optional
Architecture: amd64
Maintainer: Jan Hubicka <hubicka@ucw.cz>
Depends: libc6, libgcc-s1, libstdc++6, libgomp1, libtiff6 | libtiff5, libturbojpeg0, libzip4, libgsl27, libraw20, liblcms2-2, libgtk2.0-0, libfftw3-double3, libqt6core6, libqt6gui6, libqt6widgets6, libqt6svg6
Description: Color Screen processing tool
 Tool for processing and analyzing historical color screen plates.
 Implements detection, decoding, and reconstruction of Paget, Joly, Finlay, and other color screen processes.
