name: MacOS build

on:
  push:
    branches: [ "main", "v1-branch", "Kimrova-bachelorRelease" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install libtiff
      run: brew install -v libtiff
    - name: Install libjpeg-turbo
      run: brew install -v libjpeg-turbo
    - name: Install libzip
      run: brew install -v libzip
    - name: List libzip
      run: brew list libzip
    - name: Install libgsl
      run: brew install -v gsl
    - name: Install libraw
      run: brew install -v libraw
    - name: Install little-cms2
      run: brew install -v little-cms2
    - name: Install libomp
      run: brew install -v libomp
    - name: Install gtk+
      run: brew install -v gtk+
    - name: Install fftw
      run: brew install -v fftw
    - name: Install qt6
      run: brew install -v qt6
    - name: Link qt6
      run: brew link qt6 --force
    - name: Debug MacOS Environment
      run: |
        export PATH="/opt/homebrew/opt/qt6/bin:/opt/homebrew/opt/qt/bin:$PATH"
        echo "PATH=$PATH"
        brew --prefix qt6 || echo "brew prefix qt6 failed"
        ls -F /opt/homebrew/opt/qt6/bin/moc* || echo "ls qt6 bin failed"
    - name: Install dynlibbundler
      run: brew install -v dylibbundler
    - name: Bulid libzip
      run: |
        wget https://libzip.org/download/libzip-1.10.1.tar.xz
        tar xJvf libzip-1.10.1.tar.xz
        cd libzip-*
        cmake -DBUILD_SHARED_LIBS=OFF
        make
        find . -name libzip*.a
    - name: configure
      run: |
        #/opt/homebrew/opt/libomp/lib/libomp.a
        #CXXFLAGS="-Ofast -flto -I/opt/homebrew/include -I/opt/homebrew/opt/libomp/include -Xclang=-fopenmp" LDFLAGS="/opt/homebrew/lib/libtiff.a /opt/homebrew/lib/libturbojpeg.a /opt/homebrew/opt/libomp/lib/libomp.a -L/opt/homebrew/lib -L/opt/homebrew/opt/libomp/lib " CXX=clang++ CC=clang ./configure --disable-openmp --prefix=/tmp/Color-Screen-MacOS --enable-gtkgui
        #/opt/homebrew/lib/libcblas.a
        #ls /opt/homebrew/lib/*.a
        export PATH="/opt/homebrew/opt/qt6/bin:/opt/homebrew/opt/qt/bin:$(brew --prefix qt6)/bin:$PATH"
        CXXFLAGS="-Ofast -flto -I/opt/homebrew/include -I/opt/homebrew/opt/libomp/include -Xclang=-fopenmp" LDFLAGS="/opt/homebrew/lib/libjasper.a /opt/homebrew/lib/libjpeg.a /opt/homebrew/lib/libzstd.a /opt/homebrew/lib/liblzma.a /opt/homebrew/lib/libgslcblas.a /opt/homebrew/lib/libgsl.a /opt/homebrew/lib/libtiff.a /opt/homebrew/lib/libturbojpeg.a  /opt/homebrew/lib/liblcms2.a /opt/homebrew/lib/libfftw3.a -L/opt/homebrew/lib -L/opt/homebrew/opt/libomp/lib -lomp "`pwd`"/libzip*/lib/libzip.a" CXX=clang++ CC=clang ./configure --disable-openmp --prefix=/tmp/Color-Screen-MacOS --enable-gtkgui --enable-qtgui --disable-static-link --disable-dependencies
    - name: Upload config.log
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: config.log
        path: |
          config.log
    - name: make
      run: make
    - name: make check
      run: make check
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: testsuite
        path: |
          testsuite/*.txt
          testsuite/*.log
          testsuite/*.par
    - name: make install-strip
      run: make install-strip
    - name: tar
      run: cd /tmp ; tar czvf /tmp/Color-Screen-MacOS.tar.gz Color-Screen-MacOS/
    - uses: actions/upload-artifact@v4
      with:
        name: macOS-binary
        path: /tmp/Color-Screen-MacOS.tar.gz
    - name: Package CLI
      run: |
        mkdir Color-Screen-package
        mkdir Color-Screen-package/libs
        cp /tmp/Color-Screen-MacOS/bin/colorscreen /tmp/Color-Screen-MacOS/bin/colorscreen-gtk Color-Screen-package
        cp /tmp/Color-Screen-MacOS/share/colorscreen/gtkgui.glade Color-Screen-package
        dylibbundler -od -b -x Color-Screen-package/colorscreen -d Color-Screen-package/libs -p @executable_path/libs
        dylibbundler -od -b -x Color-Screen-package/colorscreen-gtk -d Color-Screen-package/libs -p @executable_path/libs
        otool -L Color-Screen-package/colorscreen
        otool -L Color-Screen-package/colorscreen-gtk
        ditto -ck --rsrc --sequesterRsrc Color-Screen-package Color-Screen-package.zip
    - uses: actions/upload-artifact@v4
      with:
        name: macOS-colorscreen-package
        path: Color-Screen-package.zip
    - name: make distclean
      run: make distclean
    - name: configure with checking
      run: |
        export PATH="$(brew --prefix qt6)/bin:$PATH"
        CXXFLAGS="-Ofast -flto -I/opt/homebrew/include -I/opt/homebrew/opt/libomp/include -Xclang=-fopenmp -march=native" LDFLAGS="-L/opt/homebrew/lib -L/opt/homebrew/opt/libomp/lib -lomp" CXX=clang++ CC=clang ./configure --disable-openmp --prefix=/tmp/Color-Screen-MacOS --enable-gtkgui --enable-qtgui --enable-checking --disable-static-link
    - name: make (checking enabled)
      run: make
    - name: make check (checking enabled)
      run: make check
    - name: Upload Test Results (checking enabled)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: testsuite-checking
        path: |
          testsuite/*.txt
          testsuite/*.log

    - name: Uninstall libgsl to break one of dependencies
      run: brew uninstall  gsl
    - name: Remove install directory
      run: rm -fr /tmp/Color-Screen-MacOS
    - name: Verify that colorscreen still runs
      run: Color-Screen-package/colorscreen autodetect testsuite/dufaycolor_nikon_coolsan9000ED_4000DPI_raw.tif  test.par
