name: Ubuntu build

on:
  push:
    branches: [ "main", "v1-branch", "Kimrova-bachelorRelease" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    env:
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      PATH: /usr/lib/qt6/libexec:/usr/lib/x86_64-linux-gnu/qt6/libexec:/usr/lib/qt6/bin:/usr/lib/x86_64-linux-gnu/qt6/bin:/usr/lib64/qt6/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

    steps:
    - uses: actions/checkout@v4
    - name: Update
      run: sudo apt-get update
    - name: Install libtiff
      run: sudo apt-get install -y libtiff-dev
    - name: Install libjpeg-turbo
      run: sudo apt-get install -y libturbojpeg0-dev
    - name: Install libzip
      run: sudo apt-get install -y libzip-dev
    - name: Install libgsl
      run: sudo apt-get install -y libgsl-dev
    - name: Install libraw
      run: sudo apt-get install -y libraw-dev
    - name: Install liblcms2
      run: sudo apt-get install -y liblcms2-dev
    - name: Install gtk2
      run: sudo apt-get install -y libgtk2.0-dev
    - name: Install fftw3
      run: sudo apt-get install -y libfftw3-dev
    - name: Install qt6-base-dev
      run: sudo apt-get install -y qt6-base-dev qt6-tools-dev qt6-tools-dev-tools qt6-translations-l10n libqt6svg6-dev

    - name: configure
      run: CXXFLAGS="-Ofast -flto" CFLAGS="$CXXFLAGS" ./configure --enable-gtkgui --enable-qtgui
    - name: make
      run: make -j$(nproc)
    - name: make check
      run: make -j$(nproc) check
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: testsuite
        path: |
          testsuite/*.txt
          testsuite/*.log
          testsuite/*.par
    - name: make distcheck
      run: make -j$(nproc) distcheck
    - uses: actions/upload-artifact@v4
      with:
        name: source-tarball
        path: colorscreen-*.tar.gz
    - name: make distclean
      run: make -j$(nproc) distclean
    - name: configure with checking
      run: CXXFLAGS="-Ofast  -march=native -fsanitize=address,undefined" CFLAGS="$CXXFLAGS" ./configure --enable-checking --disable-static-link --enable-gtkgui --enable-qtgui
    - name: make (checking enabled)
      run: make -j$(nproc) 
    - name: make -j$(nproc) check (checking enabled)
      run: make check
    - name: Upload Test Results (checking enabled)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: testsuite-checking
        path: |
          testsuite/*.txt
          testsuite/*.log
          testsuite/*.par
