name: Windows build

on:
  push:
    branches: [ "main", "v1-branch", "Kimrova-bachelorRelease" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        include:
          - { sys: mingw64, env: x86_64 }
          - { sys: ucrt64,  env: ucrt-x86_64 }
    steps:
    - uses: actions/checkout@v4
    - uses: msys2/setup-msys2@v2
      with:
        msystem: ${{matrix.sys}}
        update: true
        install: make mingw-w64-${{matrix.env}}-gcc mingw-w64-${{matrix.env}}-libtiff mingw-w64-${{matrix.env}}-libjpeg-turbo git mingw-w64-${{matrix.env}}-pkg-config mingw-w64-${{matrix.env}}-libraw mingw-w64-${{matrix.env}}-lcms2  mingw-w64-${{matrix.env}}-libzip mingw-w64-${{matrix.env}}-gsl diffutils autoconf-archive mingw-w64-${{matrix.env}}-autotools  mingw-w64-${{matrix.env}}-fftw mingw-w64-${{matrix.env}}-qt6-base mingw-w64-${{matrix.env}}-qt6-tools mingw-w64-${{matrix.env}}-adwaita-icon-theme mingw-w64-${{matrix.env}}-qt6-svg mingw-w64-${{matrix.env}}-nsis mingw-w64-${{matrix.env}}-imagemagick
    - name: update autotools
      shell: msys2 {0}
      run: autoreconf -fiv

    - name: configure
      shell: msys2 {0}
      run: |
        export PATH="/${{matrix.sys}}/share/qt6/bin:$PATH"
        CXXFLAGS="-Ofast -flto=auto" CFLAGS="$CXXFLAGS" LDFLAGS="-Wl,--stack,16777216" ./configure --enable-qtgui --prefix=/c/Color-Screen-install
    - name: make
      shell: msys2 {0}
      run: make -j$(nproc)
    - name: make check
      shell: msys2 {0}
      run: make -j$(nproc) check
    - name: Find testsuite
      shell: msys2 {0}
      if: always()
      run: cygpath testsuite
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: testsuite-${{matrix.sys}}
        path: |
          testsuite/*.txt
          testsuite/*.log
          testsuite/*.par
    - name: make install-strip
      shell: msys2 {0}
      run: make install

    - name: print dlls dll
      shell: msys2 {0}
      run: ldd /c/Color-Screen-install/bin/libcolorscreen*dll
    - name: copy dlls
      shell: msys2 {0}
      run: cp /${{matrix.sys}}/bin/libgcc_s_seh-*.dll /${{matrix.sys}}/bin/libgomp-*.dll /${{matrix.sys}}/bin/libgsl-*.dll /${{matrix.sys}}/bin/libwinpthread-*.dll /${{matrix.sys}}/bin/liblcms2-*.dll /${{matrix.sys}}/bin/libtiff-*.dll /${{matrix.sys}}/bin/libraw-*.dll /${{matrix.sys}}/bin/libstdc++-*.dll /${{matrix.sys}}/bin/libzip.dll /${{matrix.sys}}/bin/libturbojpeg.dll /${{matrix.sys}}/bin/zlib1.dll /${{matrix.sys}}/bin/libgslcblas-*.dll /${{matrix.sys}}/bin/libdeflate.dll /${{matrix.sys}}/bin/libjbig-*.dll /${{matrix.sys}}/bin/libjpeg-*.dll /${{matrix.sys}}/bin/libLerc.dll /${{matrix.sys}}/bin/liblzma-*.dll /${{matrix.sys}}/bin/libwebp-*.dll /${{matrix.sys}}/bin/libzstd.dll /${{matrix.sys}}/bin/libbz2-*.dll /${{matrix.sys}}/bin/libsharpyuv-*.dll /${{matrix.sys}}/bin/libfftw3-*.dll /${{matrix.sys}}/bin/libb2-*.dll /${{matrix.sys}}/bin/libdouble-conversion*.dll /${{matrix.sys}}/bin/libicuin*.dll /${{matrix.sys}}/bin/libicuuc*.dll /${{matrix.sys}}/bin/libmd4c*.dll /${{matrix.sys}}/bin/libicudt*.dll /${{matrix.sys}}/bin/libpcre2-16-*.dll /${{matrix.sys}}/bin/libpng16-*.dll /${{matrix.sys}}/bin/libharfbuzz-*.dll /${{matrix.sys}}/bin/libfreetype-*.dll /${{matrix.sys}}/bin/libbrotlidec.dll /${{matrix.sys}}/bin/libbrotlicommon.dll /${{matrix.sys}}/bin/libglib-2.0-0.dll /${{matrix.sys}}/bin/libintl-8.dll /${{matrix.sys}}/bin/libiconv-2.dll /${{matrix.sys}}/bin/libpcre2-8-0.dll /${{matrix.sys}}/bin/libgraphite2.dll /c/Color-Screen-install/bin
    - name: deploy qt
      shell: msys2 {0}
      run: |
        export PATH="/${{matrix.sys}}/share/qt6/bin:$PATH"
        windeployqt --release --no-translations --compiler-runtime --dir /c/Color-Screen-install/bin /c/Color-Screen-install/bin/colorscreen-qt.exe
        # Manually copy SVG plugins since windeployqt misses them (not directly linked)
        mkdir -p /c/Color-Screen-install/bin/imageformats
        cp /${{matrix.sys}}/share/qt6/plugins/imageformats/qsvg.dll /c/Color-Screen-install/bin/imageformats/ || true
        mkdir -p /c/Color-Screen-install/bin/iconengines
        cp /${{matrix.sys}}/share/qt6/plugins/iconengines/qsvgicon.dll /c/Color-Screen-install/bin/iconengines/ || true
    - name: copy icons
      shell: msys2 {0}
      run: |
        mkdir -p /c/Color-Screen-install/share/icons
        cp -r /${{matrix.sys}}/share/icons/Adwaita /c/Color-Screen-install/share/icons/
        cp -r /${{matrix.sys}}/share/icons/hicolor /c/Color-Screen-install/share/icons/
        rm -f /c/Color-Screen-install/share/icons/Adwaita/icon-theme.cache
        rm -f /c/Color-Screen-install/share/icons/hicolor/icon-theme.cache
    - name: build installer
      shell: msys2 {0}
      run: |
        cp LICENSE /c/Color-Screen-install/
        cp README.md /c/Color-Screen-install/
        magick images/icon.svg -background none -define icon:auto-resize=256,128,64,48,32,16 os/windows/icon.ico
        makensis -DSOURCE_DIR="C:\Color-Screen-install" os/windows/installer.nsi
    - uses: actions/upload-artifact@v4
      with:
        name: windows-installer-${{matrix.sys}}
        path: os/windows/Color-Screen-Installer.exe
    - uses: actions/upload-artifact@v4
      with:
        name: windows-binary-${{matrix.sys}}
        path: c:\Color-Screen-install\
