name: Ubuntu build

on:
  push:
    branches: [ "main", "v1-branch", "Kimrova-bachelorRelease" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        include:
          - { runner: ubuntu-24.04, arch: amd64 }
          - { runner: ubuntu-24.04-arm, arch: arm64 }
    
    runs-on: ${{ matrix.runner }}
    
    env:
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      PATH: /usr/lib/qt6/libexec:/usr/lib/x86_64-linux-gnu/qt6/libexec:/usr/lib/qt6/bin:/usr/lib/x86_64-linux-gnu/qt6/bin:/usr/lib64/qt6/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    
    steps:
    - uses: actions/checkout@v4
    - name: Update
      run: sudo apt-get update
    - name: Install dependencies
      run: sudo apt-get install -y libtiff-dev libturbojpeg0-dev libzip-dev libgsl-dev libraw-dev liblcms2-dev libgtk2.0-dev libfftw3-dev qt6-base-dev qt6-tools-dev qt6-tools-dev-tools qt6-translations-l10n libqt6svg6-dev libexiv2-dev build-essential
    
    - name: configure
      run: CXXFLAGS="-Ofast -flto" CFLAGS="$CXXFLAGS" ./configure --enable-gtkgui --enable-qtgui
    - name: make
      run: make -j$(nproc)
    - name: make check
      run: make -j$(nproc) check
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: testsuite-${{ matrix.arch }}
        path: |
          testsuite/*.txt
          testsuite/*.log
          testsuite/*.par
    
    - name: Package DEB
      run: |
        # Create temp install dir
        mkdir -p /tmp/install
        # Install to temp dir
        make install DESTDIR=/tmp/install
        # Run packaging script
        ./os/linux/package_deb.sh /tmp/install 2.0alpha ${{ matrix.arch }}
    - uses: actions/upload-artifact@v4
      with:
        name: colorscreen-deb-${{ matrix.arch }}
        path: colorscreen_*.deb

    # Only run distcheck and checking build on amd64 to save time/resources on ARM runners
    - name: make distcheck
      if: matrix.arch == 'amd64'
      run: make -j$(nproc) distcheck
    
    - uses: actions/upload-artifact@v4
      if: matrix.arch == 'amd64'
      with:
        name: source-tarball
        path: colorscreen-*.tar.gz

    - name: make distclean
      if: matrix.arch == 'amd64'
      run: make -j$(nproc) distclean
    
    - name: configure with checking
      if: matrix.arch == 'amd64'
      run: CXXFLAGS="-Ofast  -march=native -fsanitize=address,undefined" CFLAGS="$CXXFLAGS" ./configure --enable-checking --disable-static-link --enable-gtkgui --enable-qtgui
    - name: make (checking enabled)
      if: matrix.arch == 'amd64'
      run: make -j$(nproc) 
    - name: make -j$(nproc) check (checking enabled)
      if: matrix.arch == 'amd64'
      run: make check
    - name: Upload Test Results (checking enabled)
      if: matrix.arch == 'amd64' && always()
      uses: actions/upload-artifact@v4
      with:
        name: testsuite-checking
        path: |
          testsuite/*.txt
          testsuite/*.log
          testsuite/*.par
